.DS_Store
.AppleDouble
.LSOverride

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.pytest_cache/

configs.py

spark-warehouse/
metastore_db/
derby.log
eventLog/*
.metadata
checkpoint/

checkpoints_*/

.poetry/
dist/

.vscode/
.history/